<h1>cart</h1>

<div id="cart">
	{{#if books.length}}
	<table>
		<thead>
			<tr>
				<th>name</th>
				<th>quantity</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>

			{{#each books}}
			<tr>
				<td>{{title}}</td>
				<td>{{count}}</td>
				<td>
					<button class="btn btn-small js-remove" data-id="{{id}}">del</button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<p><strong>price: </strong> <span class="price">{{price}}</span></p>

	{{else}}
	<p>cart is empty</p>
	{{/if}}
</div>